.main-component-content {
  position: absolute;
  top: 0;
  left: 240px;
  padding: 85px 15px 15px 15px;
  width: calc(100% - 240px);
  @media (max-width: 1023px) {
    left: 0;
    width: 100%;
  }
}
